APP_NAME=academic-service
APP_ENV=local
APP_HOST=0.0.0.0
APP_PORT=8002
DATABASE_URL=postgres://postgres:postgres@localhost:5432/lms_academic
IDENTITY_SERVICE_BASE_URL=http://localhost:8001
JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
